image efipart.vfat {
    vfat {
        label = "EFIBOOT"
        filesystem = "vfat"
        bootable = true
    }

    partition table = "gpt"

    partition boot {
        offset = 17KiB
        size = 256MiB
        label = "boot"
    }

    partition root {
        offset = 256MiB + 17KiB
        size = 1792MiB
        label = "root"
    }

    partition initramfs {
        offset = 2048MiB + 17KiB
        size = 64MiB
        label = "initramfs"
    }

    partition dtb {
        offset = 2112MiB + 17KiB
        size = 32MiB
        label = "dtb"
    }

    partition image {
        offset = 2144MiB + 17KiB
        size = 5848MiB
        label = "image"
    }
}

image rootfs.ext4 {
    ext4 {
        label = "rootfs"
    }

    partition table = "gpt"

    partition root {
        offset = 0
        size = 1792MiB
        label = "root"
    }

    partition initramfs {
        offset = 1792MiB
        size = 64MiB
        label = "initramfs"
    }

    partition dtb {
        offset = 1856MiB
        size = 32MiB
        label = "dtb"
    }

    partition image {
        offset = 1888MiB
        size = 5994MiB
        label = "image"
    }
}